---

---

<a href="/" class="inline-flex items-center gap-1 no-underline group">
  <span
    role="img"
    aria-labe="left arrow"
    class="transition-transform group-hover:animate-bounce-left"
  >
    <!-- Left Arrow HTML Glyph -->
    &#8592;
  </span>
  <span>Go Home</span>
</a>
