---
import GoHomeLink from '../components/go-home-link.astro'

export type Props = {
  title: string
}
const {title} = Astro.props
const isRoot = Astro.url.pathname === '/'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Maciek Sitkowski's accessibility examples"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="prose p-8">
    {isRoot ? <div class="h-[28px]" /> : <GoHomeLink />}
    <h1 class="text-4xl font-bold mt-8">{title}</h1>
    <hr />
    <slot />
  </body>
</html>
